.btn-circle {
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  font-size: 1.3em;
  color: white;
  line-height: 1.33;
  border-radius: 50%;
  border: 1px solid #212529;
  text-align: center;
  margin: 10px;
}

.btn-change {
  background-color:#00499B;
  color: white;
}

.btn-save {
  background-color:#00bf8a;
  color: white;
  border: none;
}

.btn-pause {
  background-color:#B90C3D;
  color: white;
}

.btn-xxl {
  color:white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}