.btn-circle {
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  font-size: 1.3em;
  line-height: 1.33;
  border-radius: 50%;
  border: 1px solid #212529;
  text-align: center;
  margin: 10px;
}

.btn-change {
  background-color:#26B9D1;
  color: white;
}

.btn-start {
  background-color:#00bf8a;
  color: white;
  border: none;
}

.btn-pause {
  background-color:#DE685F;
  color: white;
}

.button-settings-save {
  margin: 0.1em;
  background-color: #00bf8a;
  color: white;
  border: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 0.8em;
  border-radius: 6%;
}

.button-settings-cancel {
  margin: 0.1em;
  background-color: #F8f5E0;
  color: #212529;
  border: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 0.8em;
  border-radius: 6%;
}


.btn-xxl {
  
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}