

.btn {
  border: none;
}

.btn-circle {
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  font-size: 1.3em;
  line-height: 1.33;
  border-radius: 50%;
  border: 1px solid #212529;
  text-align: center;
  margin: 10px;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.btn-change {
  background-color:#26B9D1;
  color: white;
}

.btn-start {
  background-color:#00bf8a;
  color: white;
}

.btn-pause {
  margin-top: 0.5em;
  background-color:#DE685F;
  color: white;
}

.btn-save {
  background-color: #00bf8a;
  color: white;
  margin-top: 0.5em;
  margin-left: 0.5em; 
  margin-right: 0.5em;
}

.btn-header-save {
  background-color: #309976;
  color: white;
  margin-top: 0.5em;
  padding: 0em 2em 0.2em 2em;
  font-size: 1.2em;
  font-weight: 500;
}

.btn-cancel {
  background-color: #e2dfc8;
  color: #212529;
  margin-top: 0.5em;
}

.btn-icon {
  background-color: transparent;
  border: none;
}

.btn-icon-plus {
  margin-top: 0.5em;
  margin-left: 0.5em;
  background-color: transparent;
  border: none;

}

.btn-icon-small {
  background-color: transparent;
  border: none;
  font-size: 0.5em;
  padding-left: 2em;
}

.btn-addOption {
  background-color: transparent;
  border: none;
  padding: 0.1em;
  margin: 0.1em;
  text-underline-position: below;
}

.btn-undo {
  background-color: transparent;
  border: none;
  padding-left: 1.5em;
}