.react-calendar {
  background-color: #212529;
  color: white;
}

.react-calendar__navigation__label {
  color: white;
  font-weight: 600;
}

abbr {
  color: white;
}

.react-calendar__month-view__weekdays {
  text-transform: none;
}

.react-calendar__tile--active:enabled:hover {
    background-color: #00bf8a;
    border-radius: 50%;

}

