.react-calendar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #212529;
  color: white;
  border: none;
}

.react-calendar__navigation__label {
  color: white;
  font-weight: 600;
}

.react-calendar__navigation button {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}

.react-calendar__month-view__weekdays_weekday {
  border-bottom: none;
}

.react-calendar__tile--active:enabled:hover {
    background-color: #00bf8a;
    size: 0.5em;
    border-radius: 100%;
}

.modal-body {
  padding: 0;

}

.modal-header {
  padding: 0;
}

abbr {
  color: white;
  border-bottom: none;
  text-decoration: none;
}