
.gray {
  color: rgb(206, 204, 193);
}

.blue {
  color: #26B9D1; 
}

.green {
  color: #00bf8a;
}

.dark-red {
  color: #900C3F
}

.red {
  color: #DE685F;
}

.yellow {
  color: rgb(240, 216, 110);
}

.orange {
  color: #edae39;
}

.dark {
  background-color: #212529;
  color: white;
}
