

.form-row {
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-right: 2.5em;
  align-content: center;
  text-align: center;
  justify-content: center;

}

.form-col {
  padding-top: 5px;
  padding-left: 2em;
}

.form-date {
  font-weight: 500;
  border: 1px white;
  margin-top: 1em;
  margin-bottom: 1em;
  align-content: center;
  text-align: center;
  justify-content: center;

}

.form-date:hover {
  color: #116A3C;
}

.form-control-plaintext {
  color: white;
  border: 1px solid white;
  border-radius: 8%;
  align-content: center;
  text-align: center;
}

.profile-form-header {
  border: 1px solid snow;
  margin: 0.4em;
}

.select-dark {
  background-color: #212529;
  color: white;
}

.select-dark::after {
  background-color: #212529;
  color: white;
}

.select-dark ::selection {
  background-color: #212529;
  color: white;
}



