@import "mainMenu.css";
@import "nav.css";
@import "buttons.css";
@import "calendar.css";
@import "results.css";
@import "colors.css";
@import "forms.css";
@import "program.css";


body {
  background-color: #212529;
  color: white;
  margin-bottom: 3em;
  margin-top: 3em;
  text-align: center;  
}

.container {
  margin-top: 2em;
}

.login {
  margin-top: 1em;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1.8em;
  font-weight: 200;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1em;
  font-weight: 200;
}

h5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0.5em;
  font-weight: 200;
}

a {
  color: white;
}

a.attribution {
  font-size: 0.5em;
  font-weight: 300;
}

a:link {
  text-decoration: none;
}

a:active {
  color: white; 
}

a:hover {
  color: #00bf8a; 
}

.notification {
  font-weight: 300;
  margin: 1em;
}

.stopwatch-container {
  margin-top: 200px;
}

.stopwatch-time {
  font-size: 3em;
}


@font-face {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  src: local('Gill Sans')
}

