@import "menu.css";
@import "nav.css";


body {
  background-color: #212529;
  margin-bottom: 3em;
  margin-top: 3em;
  text-align: center;
}


.app {
  color: white;
  background-color:#212529;
}

.container {
  color: white;
  background-color:#212529;
  font-size: 1.0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-save {
  color: #00bf8a;
  background-color:#212529;
  font-size: 1.0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.save {
  background-color:#00bf8a;
  color: white;
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:active {
  color: white; 
}

a:hover {
  color: #00bf8a; 
}


.btn-circle {
  width: 80px;
  height: 80px;
  padding: 10px 6px;
  font-size: 1.3em;
  line-height: 1.33;
  border-radius: 50%;
  border: 1px solid #212529;
  text-align: center;
  margin: 2px 5px 2px 5px;
}

.btn-change {
  background-color:#205ade;
  color: white;
}

.btn-save {
  background-color:#00bf8a;
  color: white;
}

.btn-pause {
  background-color:#ff3333;
  color: white;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}




@font-face {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  src: local('Gill Sans')
}

