
.results-total {
  text-align: center;
  align-content: center;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.result-total {
  border-top: none;
  font-weight: 500;
}

.results-card-header {
  font-size: 0.9em;
}

.result-list-row {
  font-size: 0.85em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.result-number {
  font-size: 0.8em;
  font-weight: 300;
  padding: 3px;
}

.result-calories {
  font-size: 0.8em;
  font-weight: 300;
  padding: 3px;
  color:#FF9700;
}

.result-sport {
  padding: 3px;
  text-align: left;
  font-size: 0.8em;
}

.result-icon {
  padding-top: 3px;
  font-size: 0.8em;
}

.menu-icon {
  font-size: 1.6em;
  font-weight: 300;
}

.menu-header {
  background-color: #212529;
}

.menu-sport {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
}

.form {
  text-align: left;
  padding: 30px 30px 30px 40px;
}

.form-row {
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.date {
  font-weight: 500;
  border: 1px white;

}

.date:hover {
  color: #116A3C;
}


.select-dark {
  background-color: #212529;
}