
.results-total {
  margin-top: 1.2em;
}

.results-card-header {
  font-size: 0.9em;
}

.result-list-row {
  font-size: 0.85em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.result-number {
  font-size: 0.9em;
  font-weight: 300;
  padding: 3px;
}

.result-sport {
  padding: 3px;
  text-align: left;
}

.fas {
  color: #00bf8a;
  padding: 0.2em;
  font-size: 1.2em;
  font-weight: 300;
}

.menu-header {
  background-color: #212529;
}

.menu-sport {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
}