
.results-total {
  margin-top: 1.2em;
}

.results-card-header {
  font-size: 0.9em;
}

.result-list-row {
  font-size: 0.85em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.result-number {
  font-size: 0.8em;
  font-weight: 300;
  padding: 3px;
}

.result-calories {
  font-size: 0.8em;
  font-weight: 300;
  padding: 3px;
  color:#FF9700;
}

.result-sport {
  padding: 3px;
  text-align: left;
  font-size: 0.8em;
}

.result-icon {
  font-size: 0.9em;
}

.menu-icon {
  font-size: 1.6em;
  font-weight: 300;
  
  
}

.gray {
  color: #F8f5E0;
}

.blue {
  color: #26B9D1; 
}

.green {
  color: #00bf8a;
}

.dark-red {
  color: #900C3F
}

.red {
  color: #DE685F;
}

.yellow {
  color: #A6A691;
}

.menu-header {
  background-color: #212529;
}

.menu-sport {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
}