
.navbar-top {
  padding: 1em 1em 1em 1em;
  background-color: #212529;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  justify-content: space-evenly;
  flex-direction: row;
}

.logo {
  text-align: left;
}

.logout {
  text-align: end;
}

.navbar {  
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: #212529;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 300;
  font-size: 0.8em;
}

.nav-row {
  text-align: center;
  align-content: justify;
  margin: 0px;
  display: block;
}






