
body {background-color: #212529;}

.btn-circle {
  width: 80px;
  height: 80px;
  padding: 10px 6px;
  font-size: 1.3em;
  line-height: 1.33;
  border-radius: 50%;
  border: 1px solid #212529;
  text-align: center;
  margin: 2px 5px 2px 5px;
}

.btn-change {
  background-color:#205ade;
  color: white;
}

.btn-save {
  background-color:#00bf8a;
  color: white;
}

.save {
  background-color:#00bf8a;
  color: white;
}

.btn-pause {
  background-color:#ff3333;
  color: white;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.list-group-item-time {
  color: blue;
}

.app {
  color: white;
  background-color:#212529;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5em;
}

.container {
  color: white;
  background-color:#212529;
  font-size: 1.0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.container-save {
  color: #00bf8a;
  background-color:#212529;
  font-size: 1.0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.result-list {
  color: white;
  background-color: #212529;
  font-size: 0.90em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  src: local('Gill Sans')
}

